/* BELOW 960PX */
@media (max-width: 60em) {
  .container {
    max-width: 90%;
  }
  .page-header-img {
    width: 75%;
  }
  .recipe-card-heading {
    font-size: 3.1rem;
  }
}

/* BELOW 864PX */
@media (max-width: 54em) {
  .recipes-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .recipe-card {
    width: 36.6rem;
  }
}

/* BELOW 800PX */
@media (max-width: 50em) {
  .page-header-text {
    font-size: 4.8rem;
  }
  blockquote p {
    font-size: 2rem;
  }
  .more-info-header {
    font-size: 3.1rem;
  }
  .img-recipe {
    width: 80%;
  }
}

/* BELOW 624PX */
@media (max-width: 39em) {
  .page-header-text {
    font-size: 3.9rem;
  }
}
