/* BELOW 960PX */
@media (max-width: 60em) {
  .container {
    max-width: 90%;
  }
  .page-header-img {
    width: 75%;
  }
  .recipe-card-heading {
    font-size: 3.1rem;
  }
}

/* BELOW 864PX */
@media (max-width: 54em) {
  .recipes-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .recipe-card {
    width: 36.6rem;
  }
}

/* BELOW 800PX */
@media (max-width: 50em) {
  .page-header-text {
    font-size: 4.8rem;
  }
  blockquote p {
    font-size: 2rem;
  }
  .more-info-header {
    font-size: 3.1rem;
  }
  .img-recipe {
    width: 80%;
  }
}

/* BELOW 624PX */
@media (max-width: 39em) {
  .page-header-text {
    font-size: 3.9rem;
  }
  .recipe-card-heading {
    font-size: 2rem;
  }
  .more-info-header {
    font-size: 2.5rem;
  }
  .more-info-content {
    font-size: 2rem;
  }
  .page-footer {
    padding: 2rem;
    line-height: 1.5;
  }
}

/* BELOW 560PX */
@media (max-width: 35em) {
  .page-header-text {
    font-size: 3.1rem;
  }
  .recipe-card-heading {
    font-size: 2.5rem;
  }
  .more-info-content {
    font-size: 2rem;
  }
}

/* BRLOW 496PX */
@media (max-width: 31em) {
  .recipes-header {
    font-size: 3.1rem;
  }
  .recipe-card {
    width: 90%;
  }
  .quotation-content {
    font-size: 1.8rem;
  }
  .recipe-card-list-item {
    font-size: 1.6rem;
  }
  .more-info-content {
    font-size: 1.8rem;
  }
}

/* BELOW 416PX */
@media (max-width: 26em) {
  .recipes-header {
    font-size: 2.5rem;
  }
  .recipe-card {
    width: 100%;
  }
}

body {
  min-width: 34.5rem;
}
