/* Spacing Scale */

/* Font Sizing Scale: Major Third */
/* 61.04px 48.83px 39.06px 31.25px 25px 20px 16px 12.8px */

/* Color Pelette */
/* 
Main: #78A083
tints: #86aa8f #93b39c #a1bda8 #aec6b5 #bcd0c1
shades: #6c9076 #608069 #54705c #48604f #3c5042

Grey: #35374B
tints: #494b5d #5d5f6f #727381 #868793 #9a9ba5
shades: #303244 #2a2c3c #252735 #20212d #1b1c26

Accent: #50727B
tints: #628088 #738e95 #859ca3 #96aab0 #a8b9bd
shades: #48676f #405b62 #385056 #30444a #28393e
*/

/* OVERALL STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Philosopher, cursive, monospace;
  color: #1b1c26;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  color: black;
  background-color: hotpink;
}

/* TEMPORARY STYLING */
img {
  width: 200px;
}
body {
  margin: 40px auto;
  width: 800px;
}
.line-height-large {
  line-height: 1.3;
}
.line-height-small {
  line-height: 1.5;
}

/* HEADER STYLING */
.header-stoicism {
  margin-bottom: 72px;
}
.header-h1 {
  font-size: 61.04px;
  text-align: center;
}
.img-header {
  width: 720px;
  margin: 48px auto;
  display: block;
}

/* RECIPE CARD STYLING */
.recipe-header {
  font-size: 48.83px;
  text-align: center;
  margin-bottom: 48px;
}
.recipe-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 64px;
  margin-bottom: 64px;
}
.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #78a083;
  border-radius: 4px;
  padding: 12px;
}
.recipe-para {
  font-size: 39.06px;
}

/* QUOTATION STYLING */
blockquote p {
  padding: 16px;
  background-color: #93b39c;
  border-radius: 4px;
  font-size: 31.25px;
}
blockquote p::before {
  content: '\201C';
}
blockquote p::after {
  content: '\201D';
}
.quotation-author {
  text-align: right;
  margin-right: 16px;
}

/* MORE INFO STYLING */
.more-info-header {
  font-size: 39.06px;
  margin-bottom: 24px;
}
.more-info-content {
  font-size: 25px;
}
.biography,
.meditations,
.journaling {
  background-color: #78a083;
  padding: 42px;
  border-radius: 4px;
  margin-bottom: 64px;
}

/* LISTS STYLING */
.ingredients-list {
  list-style: none;
}
.ingredients-hardships {
  li:before {
    padding: 10px;
    content: '\2756';
  }
}
.ingredients-worry {
  li:before {
    padding: 10px;
    content: '\2623';
  }
}
.ingredients-evil {
  li:before {
    padding: 10px;
    content: '\2622';
  }
}
.ingredients-death {
  li:before {
    padding: 10px;
    content: '\2625';
  }
}
.steps-list {
  list-style: upper-roman;
  li {
    margin-left: 30px;
  }
}

/* FOOTER STYLING */
.page-footer {
  text-align: center;
  color: #5d5f6f;
}

/* RECIPE STYLING */
.philosophy {
  font-size: 25px;
  background-color: #78a083;
  padding: 42px;
  border-radius: 4px;
  margin-bottom: 48px;
}
.recipe {
  background-color: #78a083;
  padding: 42px 42px 20px 42px;
  border-radius: 4px;
}
.img-recipe {
  width: 540px;
  margin: 24px auto;
  display: block;
}
.ingredients-title,
.steps-title {
  margin-bottom: 12px;
}
.ingredients-list,
.steps-list {
  font-size: 20px;
  margin-bottom: 24px;
}
