/* OVERALL STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Philosopher, cursive, monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  color: black;
  background-color: hotpink;
}

/* TEMPORARY STYLING */
img {
  width: 200px;
}
body {
  margin: 40px;
}

/* QUOTATION STYLING */
blockquote p {
  padding: 16px;
  background-color: #eee;
  border-radius: 4px;
}
blockquote p::before {
  content: '\201C';
}
blockquote p::after {
  content: '\201D';
}
.quotation-author {
  text-align: right;
  margin-right: 16px;
}

/* LISTS STYLING */
.ingredients-list {
  list-style: none;
}
.ingredients-hardships {
  li:before {
    padding: 10px;
    content: '\2756';
  }
}
.ingredients-worry {
  li:before {
    padding: 10px;
    content: '\2623';
  }
}
.ingredients-evil {
  li:before {
    padding: 10px;
    content: '\2622';
  }
}
.ingredients-death {
  li:before {
    padding: 10px;
    content: '\2625';
  }
}
.steps-list {
  list-style: upper-roman;
  li {
    margin-left: 30px;
  }
}
