/* Spacing Scale */
/* 2px 4px 8px 12px 16px 24px 32px 48px 64px 80px 96px 128px */

/* Font Sizing Scale: Major Third */
/* 12.8px 16px 20px 25px 31.25px 39.06px 48.83px 61.04px */

/* Color Pelette */
/* 
Main: #78A083
tints: #86aa8f #93b39c #a1bda8 #aec6b5 #bcd0c1
shades: #6c9076 #608069 #54705c #48604f #3c5042

Grey: #35374B
tints: #494b5d #5d5f6f #727381 #868793 #9a9ba5
shades: #303244 #2a2c3c #252735 #20212d #1b1c26

Accent: #50727B
tints: #628088 #738e95 #859ca3 #96aab0 #a8b9bd
shades: #48676f #405b62 #385056 #30444a #28393e
*/

/* OVERALL STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Philosopher, cursive, monospace;
}
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  color: #eaddd7;
}

/* SHARED STYLING */
.home-page,
.recipe-page {
  margin: 4.8rem 0;
  background-color: #f1f3f5;
}
.container {
  max-width: 90rem;
  margin: 0 auto;
}
.line-height-large {
  line-height: 1.3;
}
.line-height-small {
  line-height: 1.5;
}

/* HEADER STYLING */
.page-header {
  margin-bottom: 7.2rem;
}
.page-header-text {
  font-size: 6.1rem;
  text-align: center;
  color: #43302b;
}
.page-header-img {
  max-width: 72rem;
  margin: 4.8rem auto;
  display: block;
  border-radius: 11px;
}

/* QUOTATION STYLING */
.quotation-content {
  box-shadow: 0 2rem 1rem 0 rgba(0, 0, 0, 0.1);
}
blockquote p {
  padding: 1.6rem;
  background-color: #43302b;
  border-radius: 11px;
  font-size: 2.5rem;
}
blockquote p::before {
  content: '\201C';
}
blockquote p::after {
  content: '\201D';
}
.quotation-author {
  text-align: right;
  margin-right: 1.6rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #5f6067;
}

/* RECIPE CARD STYLING */
.recipes-header {
  font-size: 3.9rem;
  text-align: center;
  margin-bottom: 4.8rem;
  color: #43302b;
}
.recipes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6.4rem;

  padding: 3.2rem;
  margin-bottom: 6.4rem;
}
.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #43302b;
  border-radius: 11px;
  padding: 2.4rem;
  box-shadow: 0 2rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.recipe-card-heading {
  font-size: 3.9rem;
  margin: 2rem 0;
}
.recipe-card a {
  display: grid;
}
.recipe-card-text {
  font-size: 1.8rem;
  line-height: 1.6;
}
.recipe-card-recom {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}
.recipe-card-list {
  list-style: none;
  width: 80%;
}
.recipe-card-list-item {
  font-size: 1.8rem;
}
.recipe-card-img {
  margin: 1.6rem 0;
  max-width: 20rem;
  border-radius: 11px;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  transition: all 650ms;
}
.recipe-card-img-hidden {
  opacity: 0;
}
.recipe-card-img:hover {
  opacity: 0;
}
.recipe-card-img-hidden:hover {
  opacity: 1;
}
/* .recipe-card-img:hover {
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.15);
}
.recipe-card-img:active {
  box-shadow: 0 0.7rem 1rem 0 rgba(0, 0, 0, 0.2);
} */

/* MORE INFO STYLING */
.more-info div {
  box-shadow: 0 2rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.more-info-title {
  font-size: 3.1rem;
  text-align: center;
  margin-bottom: 4.8rem;
  color: #43302b;
}
.more-info-header {
  font-size: 3.9rem;
  margin-bottom: 2.4rem;
}
.more-info-content {
  font-size: 25px;
}
.biography,
.meditations,
.journaling {
  background-color: #43302b;
  padding: 4.2rem;
  border-radius: 11px;
  margin-bottom: 6.4rem;
}

/* LISTS STYLING */
.ingredients-list {
  list-style: none;
}
.ingredients-hardships {
  li:before {
    padding: 1rem;
    content: '\2660';
  }
}
.ingredients-worry {
  li:before {
    padding: 1rem;
    content: '\2623';
  }
}
.ingredients-evil {
  li:before {
    padding: 1rem;
    content: '\2622';
  }
}
.ingredients-death {
  li:before {
    padding: 1rem;
    content: '\2625';
  }
}
.steps-list {
  list-style: upper-roman;
  li {
    margin-left: 3rem;
  }
}

/* FOOTER STYLING */
.page-footer {
  text-align: center;
  color: #43302b;
  font-size: 1.8rem;
}

.link-footer:link,
.link-footer:visited {
  color: #43302b;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
  transition: all 300ms;
}
.link-footer:hover,
.link-footer:active {
  border-bottom: 2px solid transparent;
}

/* RECIPE STYLING */
.philosophy {
  font-size: 2.5rem;
  padding: 4.2rem;
  border-radius: 11px;
  margin-bottom: 4.8rem;
  box-shadow: 0 2rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.recipe {
  background-color: #43302b;
  padding: 4.2rem 4.2rem 2rem 4.2rem;
  border-radius: 11px;
  box-shadow: 0 2rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.img-recipe {
  width: 54rem;
  margin: 2.4rem auto;
  display: block;
  border-radius: 11px;
}
.ingredients-title,
.steps-title,
.result-title {
  font-size: 3.1rem;
  margin-bottom: 1.2rem;
}
.ingredients-list,
.steps-list {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}
/* INDIVIDUAL RECIPE STYLING */
.hardships-page .philosophy,
.hardships-page .recipe,
.hardships-page .link-home {
  background-color: #82a155;
  border: 2px solid #82a155;
  color: #000;
}
.worry-page .philosophy,
.worry-page .recipe,
.worry-page .link-home {
  background-color: #8b2f16;
  border: 2px solid #8b2f16;
}
.death-page .philosophy,
.death-page .recipe,
.death-page .link-home {
  background-color: #212529;
  border: 2px solid #212529;
}
.evil-page .philosophy,
.evil-page .recipe,
.evil-page .link-home {
  background-color: #0b7285;
  border: 2px solid #0b7285;
}

/* HOME BUTTON STYLING */
.link-home:link,
.link-home:visited {
  padding: 1.6rem 3.2rem;
  border-radius: 11px;
  width: 12rem;
  margin: 8rem auto 3.2rem auto;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;

  display: block;
  transition: all 300ms;
}
.hardships-page .link-home:hover {
  background-color: transparent;
  color: #82a155;
}
.worry-page .link-home:hover {
  background-color: transparent;
  color: #8b2f16;
}
.death-page .link-home:hover {
  background-color: transparent;
  color: #212529;
}
.evil-page .link-home:hover {
  background-color: transparent;
  color: #0b7285;
}
